body {
    background-color: rgb(0, 0, 0);
}

section {
    display: flex;
    justify-content: center;
    align-content: center;
}

.login {
    background-color: rgb(122, 244, 193);
    height: 500px;
    width: 400px;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.login h1 {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-login label {
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-login input {
    width: 300px;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 3px;
    border-style: groove ;
}

.form-login placeholder {
    padding-left: 10px;
}

.form-button {
    border-radius: 15px;
    width: 150px;
    height: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
